<h2>My Listings</h2>
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail home-listing">
      <div class="equipment-img" style="background-image: url(<%= listing.image.url %>)"></div>
        <div class="caption">
          <h3><%= listing.name %></h3> 
          <p><i class="fa fa-tag"></i><%= listing.season %></p>
          <p><i class="fa fa-money"></i><%= number_to_currency(listing.price) %></p> 
          <p><i class="fa fa-user"></i><%="Sold by: #{listing.user.name}" %></p> 
          <% if (user_signed_in?) && (current_user == listing.user) %>
            <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
            <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>