<div class="single-listing">
	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail">	
				<%= image_tag @listing.image.url, class: "limit-size-70" %>
			</div>
		</div>
		<div class="col-md-6 listing-detail">
			<h2><%= @listing.name %></h2>
			<h5><i class="fa fa-tag"></i>Season:</h5>
			<p><%= @listing.season %></p>
			<h5><i class="fa fa-file-text-o"></i>Description:</h5>
			<p><%= @listing.description %></p>
			<h5><i class="fa fa-money"></i>Price</h5>
			<p><%= number_to_currency(@listing.price) %> per day</p>
			<div class="center">
				<%= link_to 'Rent it', new_listing_order_path(@listing), class: "btn", data: {no_turbolink: true} %>
			</div>
			<% if current_user == @listing.user %>
				<%= link_to 'Edit', edit_listing_path(@listing), class: "block btn-link", data: {no_turbolink: true} %>
			<% end %>
		</div>
	</div>	
	<%= link_to 'Back to all listings', listings_path, class: "btn btn-link" %>
</div>