<h1>Purchase History</h1>
<div class="row">
  <% @orders.each do |order| %>
    <div class="col-md-3">
      <div class="thumbnail">
      <%= link_to image_tag(order.listing.image.url) %>
        <div class="caption">
          <h3><%= order.listing.name %></h3> 
          <p><%= order.listing.season %></p>
          <p><%= number_to_currency(order.listing.price) %></p>
          <p>Sold by by: <%= order.seller.name %></p>
          <p>Date purchased: <%= order.created_at.strftime("%B %-d, %Y") %></p> 
          
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: {no_turbolink: true} %>
<% end %>